ul{
    list-style-type: none;
}

a{
    width: 100%;
    text-decoration: none;
}

.stepsParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80vw;
    justify-content: center;
}
.innerStepsParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
}

.innerContainerParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.stepTile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}


.stepTileFullWidth{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}
.stepTileBtn{
    width: 100%;
}

.sliderLable{
    text-transform: none;
}

.stepTileBtn div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkBoxParent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.checkBoxContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.checkBox{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .stepTile{
        width: 100%;
        margin-bottom: 20px;
    }
  }

  /* @media screen and (max-width: 1200px) {
  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 480px) {
  } */